html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: url('star_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff4c5;
    height: 100%;
}

header {
    background-color: #000058;
    text-align: center;
    color: #fff;
    padding: 1em;
}

section {
    padding: 2em;
    width: 50%;
}

h1 {
    color: #fff;
} 

h2, h3 {
    color: #fff;
}

.project {
    margin-bottom: 2em;
    margin-right: 30%;
    color: #fff;
    background-color: transparent;
}

.parallax {
    background-image: url('star_background.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-color: #000058;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fade {
    opacity: 0;
    transition: 0.3s;
}

.fade:hover {
    opacity: 1;
}

.sun_container {
    height: 250px;
    width: 250px;
    background-color: #bbb;
    background-image: url("2k_sun.jpg");
    border-radius: 50%;
    display: inline-block;
    animation: glow 5s infinite;
    transition: transform 0.3s;
}

.sun_container div {
    height: 245px;
    border: solid transparent;
}

.sun_container div p {
    margin-top: 80px;
    margin-right: 1px;
    text-align: center;
    font-size: 60px;
    font-family: "Arial";
    border: solid transparent;
}

@keyframes glow {
    0% { box-shadow: 0 0 15px 9px #FF6E00; }
    40% { box-shadow: 0 0 30px 9px #FF6E00; }
    60% { box-shadow: 0 0 30px 9px #FF6E00; }
    100% { box-shadow: 0 0 15px 9px #FF6E00; }
  }

.sun {
    margin: auto;
    width: 250px;
    vertical-align: middle;
    padding-top: 33vh;
    border: solid transparent;
}

.sun_container:hover {
    transform: scale(1.2);
}